body {
    background-color: #FFF;
    font: 14px normal 'Open Sans', sans-serif;
}

a {
    color: #a00;
}

a:hover {
    color: #000;
}

.content {
    text-align: justify;
}

.header a {
    font-weight: normal;
    text-decoration: none;
}

.title, .menu {
    float: left;
}

.title {
    font-family: 'Oleo Script', cursive;
    line-height: 1.5em;
}

.menu, .qatools {
    margin: 1.9em 0;
}

.menu>li {
    display: inline-block;
    font-size: 1.2em;
}

.menu__menu {
    display: inline-block;
    position: relative;
    text-transform: capitalize;
    border-bottom: 4px solid transparent;
}

.menu__title {
    display: inline-block;
    min-width: 110px;
    padding: 0.5em 1.5em;
    text-align: center;
    overflow: hidden;
}

.menu__menu>.dropdown {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 0;
    background: #fff;
    list-style: none;
    box-shadow: 1px 1px 4px #888;
    z-index: 1;
}

.menu__menu:hover>.dropdown {
    display: block;
}

.dropdown__item>a {
    padding: 0.5em 1.5em;
    text-align: center;
    display: block;
}

.menu__menu:hover, .menu__title:hover, .dropdown__item>a:hover {
    background-color: #eee;
}

.java {
    border-color: #b07219;
}

.javascript {
    border-color: #f15501;
}

.python {
    border-color: #3581ba;
}

.qatools {
    background-image: url(../img/qatools.png);
    display: block;
    border-radius: 5px;
    height: 40px;
    width: 127px;
}

.footer {
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    padding: 2em 0;
    overflow: hidden;
    text-align: justify;
}

.strut {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 0;
}

.footer .contact {
    display: inline-block;
}

.footer .contact a {
    color: #8085C1;
}

.presentation {
    padding: 30px 0;
    box-shadow: inset 0 5px 10px -5px #999;
    background: #EEEEEE;
    background: linear-gradient(#eeebeb, #eee, #eeebeb);
}

.slides .fotorama__html {
    position: relative;
}

.slides .slide {
    border: 1px solid #ddd;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 7px;
    background: #fff;
    overflow: hidden;
    padding: 10px;
}

.slide__image {
    border: 1px solid #ddd;
    width: 100%;
}

.slide__description {
    position: absolute;
    bottom: 9px;
    left: 10px;
    padding: 1.5em;
    max-width: 360px;
    background: rgba(238, 235, 235, 0.5);
}

.slide__description_right {
    right: 9px;
    left: auto;
}

.slide__title {
    margin-top: 0;
    color: #a00;
    font-weight: normal;
    font-family: 'Oleo Script', cursive;
}

.informers {
    margin-top: 10em;
}

.informers__line {
    margin-bottom: 10px;
}

.informers__line iframe {
    display: block;
    height: 30px;
    width: 100%;
}

.teamcity__label {
    background-color: rgb(230, 230, 230);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(rgb(250, 250, 250)),to(rgb(234, 234, 234)));
    background-image: -webkit-linear-gradient(rgb(250, 250, 250),rgb(234, 234, 234));
    background-image: -moz-linear-gradient(top,#fafafa,#eaeaea);
    background-image: -ms-linear-gradient(#fafafa,#eaeaea);
    background-image: -o-linear-gradient(#fafafa,#eaeaea);
    background-image: linear-gradient(rgb(250, 250, 250),rgb(234, 234, 234));
    background-repeat: no-repeat;
    border: 1px solid rgb(212, 212, 212);
    border-bottom-color: rgb(188, 188, 188);
    font-weight: bold;
}
.teamcity__label, .teamcity__count {
    padding: 4px 9px;
}

.text, .page {
    line-height: 1.5em;
}

.page pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

.page ul, .page ol {
    margin-left: 1.35em;
}

.page code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}

.page pre code {
    border: none;
}

/* terminal */
.page pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}

.page pre.terminal code {
    background-color: #333;
}
