<!DOCTYPE html>
{% include get_lang.md %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script|Open+Sans:400italic,400&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link  href="//yandex.st/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <link  href="//fotorama.s3.amazonaws.com/4.4.8/fotorama.css" rel="stylesheet">
    <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">

    <script src="//yandex.st/jquery/2.0.3/jquery.min.js"></script>
    <script src="//fotorama.s3.amazonaws.com/4.4.8/fotorama.js"></script>
</head>
<body>

<header class="header">
    <div class="container">
        <h1 class="title"><a href="/{{lang_prefix}}">{{ site.name }}</a></h1>
        <ul class="menu">
            <li><a class="menu__title" href="{{site.baseurl}}/{{lang_prefix}}">Home</a></li>
            {% assign folder=lang_prefix|append:'langs' %}
            {% directory path:folder %}
            <li class="menu__menu {{file.name}}">
                {% assign lang_folder = folder|append:'/'|append:file.name %}
                <span class="menu__title">{{file.name}}</span>
                <ul class="dropdown">
                {% directory path:lang_folder %}
                    <li class="dropdown__item"><a href="{{site.baseurl}}/{{lang_folder}}/{{file.slug}}.html">{{ file.slug }}</a></li>
                {% enddirectory %}
                </ul>
            </li>
            {% enddirectory %}
            <li>
                {% if lang == 'ru' %}
                    <a class="menu__title" href="/">English Version</a>
                {% else %}
                    <a class="menu__title" href="/ru/">По-русски</a>
                {% endif %}
            </li>
        </ul>
        <div class="pull-right">
            <a class="qatools" href="http://qatools.ru"></a>
        </div>
    </div>
</header>
{{ content }}
<footer class="footer">
    <div class="container">
        <span>
            <span class="contact">Allure Framework</span>
            <span class="contact">
                <a href="https://github.com/allure-framework">GitHub</a>
            </span>
            <span class="contact"><a href="mailto:allure@yandex-team.ru">allure@yandex-team.ru</a></span>
        </span>
        <div class="strut"></div>
    </div>
</footer>

</body>
</html>
